.bodytje{
    background-color: #064556;
}
h1 {
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
}
h5 {
    background-color: rgb(255, 255, 255);
    text-align: center;
}
h2{
    color: rgb(255, 255, 255);
}
p{
    color: slategrey;
}


.card-deck {
    width: 100%;
}



/*background-image: url("../img/logo.jpg");