<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2 style="text-align: center">Openingstijd:</h2>
<h4 style="text-align: center">
    Ma t/m vrij: 12:00/21:00 <br>
    Za t/m Zo: 12:00/22:00
</h4>
<h1>Launch a New article</h1>
{{ form_start(OrderForm) }}
{{ form_widget(OrderForm) }}
<button type="submit"class="btn btn-primary">Ik vroeg om je hand</button>
{{ form_end(OrderType) }}
</body>
</html>